<div class="text-center">
  <h1>Цели наших пользователей</h1>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Пользователь</th>
    <th>Цель</th>
    <th>Дата реализации</th>
    <th>Результат</th>
  </tr>
  </thead>

  <% @targets.each do |target| %>
  <tr>
    <td><%= image_tag(user_avatar(target.user), class: 'img-icon') %>
      <%= link_to target.user.name, user_path(target.user), class: "btn text-bold" %></td>
    <td><%= link_to target.title, target_path(target), class: "btn btn-default" %></td>
    <td><%= l target.date, format: :long %></td>
    <% if target.status == 1 %>
      <td><span class="label label-success">Успех</span></td>
    <% else %>
      <td><span class="label label-primary">В прогрессе</span></td>
    <% end %>
  </tr>
  <% end %>
</table>