<div class="text-center text-primary text-title">
  <p>Цели наших пользователей</p>
</div>

<table class="text-S ">
  <thead>
  <tr class="text-L">
    <th>Достигатор</th>
    <th>Цель</th>
    <th>Дата</th>
    <th>Результат</th>
  </tr>
  </thead>

  <% @targets.order(:created_at).reverse_order.each do |target| %>
  <tr>
    <td><%= link_to image_tag(user_avatar(target.user), class: 'img-icon'), user_path(target.user) %>
      <%= link_to target.user.name, user_path(target.user), class: "btn text-bold" %></td>

    <td><%= link_to target.title, target_path(target), class: (target.status == 1 ? "btn text-S target-border-title-success text-white text-bold" :
                                                                   "btn text-S target-border-title text-white text-bold") %></td>
    <td>
        <div class="label label-default text-S">
          <%= l target.date, format: "%e %B %Y"  %>
        </div>
    </td>

    <% if target.status == 1 %>
      <td><span class="label label-success text-S">Успех</span></td>
    <% else %>
      <td><span class="label label-primary text-S">В прогрессе</span></td>
    <% end %>
  </tr>
  <% end %>
</table>