<div class="text-center">
  <h1>Цели наших пользователей</h1>
</div>

<%#= @user.name %>
<div class="text-white border-frame">
  <%# @targets.each do |target| %>
    <h1><%#= target.title %></h1>
    <h3><%#= target.date %></h3>
    <%#= target.description %>
  <%# end %>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Пользователь</th>
    <th>Цель</th>
    <th>Дата</th>
    <th>Результат</th>
  </tr>
  </thead>

  <% @targets.each do |target| %>
  <tr>
    <td><%= link_to target.user.name, user_path(@user) %></td>
    <td><%= link_to target.title, target_path(target) %></td>
    <td><%= target.date %></td>
    <% if target.status == 1 %>
      <td><span class="label label-success">Успех</span></td>
    <% else %>
      <td><span class="label label-info">В прогрессе</span></td>
    <% end %>
  </tr>
  <% end %>
</table>



