<%# Представление на странице пользователя %>
<div class="text-center">
  <h1><%= @user.name %></h1>
  <h1><%= @user.targets.name %></h1>

  <%#= image_tag user_avatar(@user) %>

  <%# if @user == current_user %>
  <%# end %>
</div>