<div class="col-md-12">
  <div class="row step-border">

    <div class="col-md-1 ">
      <%= link_to "", edit_target_step_path(@target, step), class: (step.status == 1 ? "btn btn-success btn-sm glyphicon glyphicon-ok" :
                                                                        "btn btn-border-primary btn-sm glyphicon glyphicon-pencil") %>
    </div>

    <div class="col-md-7 ">
      <%= step.name %>
    </div>

    <div class="col-md-4 ">
      <%= link_to "", target_step_path(@target, step),
                  method: :delete,
                  data: {confirm: t('.destroy_confirm')},
                  class: 'btn btn-border-danger btn-sm glyphicon glyphicon-remove pull-right buffer-left' %>
    </div>
  </div>
</div>