/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Buffers */

body {
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
}

.buffer-top {
    margin-top: 20px;
}

.buffer-top-max {
    margin-top: 60px;
}

.buffer-top-mini {
    margin-top: 6px;
}

.buffer-bottom {
    margin-bottom: 20px;
}

.buffer-bottom-mini {
    margin-bottom: 6px;
}

.buffer-both {
    margin-top: 20px;
    margin-bottom: 20px;
}

.buffer-left {
    margin-left: 6px;
}

.buffer-right {
    margin-right: 16px;
}

.buffer-right-max {
    margin-right: 30px;
}

.img-icon {
    height: 60px;
    width: auto;
    border-radius: 50%;
}

.img-icon-sm {
    height: 38px;
    width: auto;
    border-radius: 50%;
}

.img-medium {
    height: 300px;
    width: auto;
}

#mobile_tabs {
    display: none;
}

@media all and (max-width: 767px) {
    .img-medium {
        height: 200px;
    }

    #desktop_tabs {
        display: none;
    }

    #mobile_tabs {
        display: block;
    }
}