table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: white; /* Цвет линии для остальных браузеров */
    background-color: white; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
}

.target-step-border {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 50%;
}