/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.target-border-success {
    background-color: #adffd6;
    padding: 15px; /* Поля вокруг текста */
    margin-top: 10px;
    border-radius: 5px;
}

.target-border-success a {
    text-decoration: none;
    transition: 0.2s;
}

.target-border-success a:hover {
    color: white;
}

.target-border {
    background-color: #dbeaff;
    padding: 15px; /* Поля вокруг текста */
    margin-top: 10px;
    border-radius: 5px;
}

.target-border a {
    text-decoration: none;
    transition: 0.2s;
}

.target-border a:hover {
    color: white;
}

.step-border {
    padding: 15px 0;
    border-bottom: 1px solid lightgray;
}