/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.target-border-sm,
.target-border-sm-success {
    font-size: 20px;
    font-weight: bold;
    color: #9abbff;
}

.target-border-sm-success {
    color: #5CB85C;
}

.target-border-success {
    background-color: #b4ffc0;
    padding: 15px; /* Поля вокруг текста */
    border-radius: 5px;
}

.target-border-success a {
    text-decoration: none;
    transition: 0.1s;
}

.target-border-success a:hover {
    color: white;
}

.target-border {
    background-color: #c5dbff;
    padding: 15px; /* Поля вокруг текста */
    border-radius: 5px;
    word-break: break-all;
}

.target-border a {
    text-decoration: none;
    transition: 0.1s;
}

.target-border a:hover {
    color: white;
}

.target-border-title-success {
    background-color: #94f39d;
    padding: 15px; /* Поля вокруг текста */
    border-radius: 5px;
}

.target-border-title {
    background-color: #9abbff;
    padding: 15px; /* Поля вокруг текста */
    border-radius: 5px;
}