/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.users-list-item {
    display: inline-block;
}

.user-border {
    background-color: ghostwhite;
    padding: 20px;
    border-radius: 50%;
}